<h1>Course Listing</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro</li>
  <li>Description: this is desc</li>
</ul>

<ul>
  <li>Code: CS112</li>
  <li>Name: Intro</li>
  <li>Description: this is desc</li>
</ul>